# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BOARD_IOT_ENERGY_HARVESTING_MAIN_SYSTEM
	bool "IoT Energy Harvesting Main System"
	depends on SOC_NRF52832_QFAA
